.person-list-row {
    display: flex;
    justify-content: space-between;
    width: 500px;
}

.person-list-row__data {
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    margin-bottom: 10px;
}