.person-list-row__data {
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    margin-bottom: 10px;
}

.masked-data {
    cursor: pointer;
}